#wenzi{
	position:absolute; 
	left:30%; 
	top:120px; 
	width: 500;

}
.wz{
	color: red;
	font-size: 10px;
}
#qingxu{
	position: absolute;
	left: 5%;
	top:58%;
	width: 90%;
}

#xiaoshu{
	position: absolute;
	left: 5%;
	top:70%;
	width: 90%;
}
#xingzuo{
	position: absolute;
	left: 5%;
	top: 85%;
	width: 90%;
}
.yw{
	color: red;
	font-size: 12px;
}